includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/

    # Level of rule enforcement (0-9)
    level: 5

    # Ignore specific errors or paths
    ignoreErrors:
        - '#Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified#'
        - '#array<model property of App\\Models\\User, mixed>#'
        - '#array<model property of App\\Models\\Category, mixed>#'
        - '#Access to an undefined property .+::\$(category_id|category_name|total_spent|transaction_count)#'
        - '#Access to an undefined property App\\Models\\Account::\$balance#'

    # Laravel specific
    checkModelProperties: true
    checkOctaneCompatibility: true

    # Exclude directories
    excludePaths:
        - database/migrations/*
        - bootstrap/cache/*
        - storage/*

    # Enable parallel processing
    parallel:
        maximumNumberOfProcesses: 4
